<% content_for(:tab_title, "AIメッセージ") %>

<div class="flex flex-col items-center">
  <div class="text-black border rounded-3xl border-slate-100 p-10 mt-10 md:mt-20 bg-opacity-10 shadow-2xl">
    <% if @question.number.to_i == Settings.question_type.multiple_choice %>
      <%= render "question_multiple_choice", question: @question %>
    <% else %>
      <%= render "question_single_choice", question: @question %>
    <% end %>
  </div>
</div>