<% content_for(:tab_title, 'Reconnect') %>

<h1>Reconnect</h1>
<h2>～ともだちと再びつながるアプリ～</h2>

<p>昔のともだちに、ひさしぶりに連絡を取ってみませんか？</p>
<p>３つの質問に答えるだけで、最適なメッセージを提案します！</p>

<p>さっそくやってみる！</p>
<%= link_to 'メッセージ作成スタート！', '#' %>

<p>登録したともだちを見たい方はこちら</p>
<%= link_to '連絡帳をひらく', '#' %>