<div class="h-full mb-20 overflow-auto">
  <div id="ai-question" class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/0df6a54f3e60ceab5f6c4aceb0647302"><img src="https://i.gyazo.com/0df6a54f3e60ceab5f6c4aceb0647302.png" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>    </div>
  </div>
  <div id="ai-message" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/9e61174af5f2e7a5be05a0c71df88d27"><img src="https://i.gyazo.com/9e61174af5f2e7a5be05a0c71df88d27.png" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="ai-message-edit" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/5e3e4acda8c81a07d94d4598ec4fb99e"><img src="https://i.gyazo.com/5e3e4acda8c81a07d94d4598ec4fb99e.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="ai-message-copy" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/4f6a5ba18395f87ba2bac133ba5297f2"><img src="https://i.gyazo.com/4f6a5ba18395f87ba2bac133ba5297f2.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="line-notification" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/c1f058c7252b1be24cc45e45544b30ab"><img src="https://i.gyazo.com/c1f058c7252b1be24cc45e45544b30ab.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="mypage-notification" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/000d05788effa5a558361764f31f8079"><img src="https://i.gyazo.com/000d05788effa5a558361764f31f8079.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="profiles-index-mobile" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/878eba96ee6a2812542cb5cf949aafb6"><img src="https://i.gyazo.com/878eba96ee6a2812542cb5cf949aafb6.png" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="profiles-index-search" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/bd453d018d247ac4d2450078af3bb19a"><img src="https://i.gyazo.com/bd453d018d247ac4d2450078af3bb19a.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="group-create" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/67fa07e80238a69efe1c8fd7e29b7c77"><img src="https://i.gyazo.com/67fa07e80238a69efe1c8fd7e29b7c77.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="group-filtering" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/eab3db973298f8d1c8dd267a01579422"><img src="https://i.gyazo.com/eab3db973298f8d1c8dd267a01579422.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="sort" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/28665ed181ca49dbd82d4e19e8eb1e2f"><img src="https://i.gyazo.com/28665ed181ca49dbd82d4e19e8eb1e2f.gif" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
  <div id="banner" class="mb-20 relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
    <a href="https://gyazo.com/fc45b3a7df6f491bb3d55cd9817386d0"><img src="https://i.gyazo.com/fc45b3a7df6f491bb3d55cd9817386d0.png" class="w-[272px] h-[572px]" alt="Image from Gyazo"/></a>
  </div>
</div>


<!--
<div id="outer" class="p-4">
  <h1 class="text-2xl md:text-4xl font-bold mb-4 md:ml-5 text-center md:text-start">アプリの使い方</h1>

  <div id="contents", class="flex flex-col">
    <div id="card" class="md:border md:rounded-3xl md:border-slate-100 p-10 md:bg-opacity-10 md:shadow-2xl h-fit">
      <h2 class="text-xl md:text-2xl font-bold mb-10">メイン機能①<br class="md:hidden">AIによるメッセージ提案</h2>
      <h3 class="md:text-xl font-bold mb-7">その１．3つの質問に答えるだけで、AIが「久しぶりに連絡を取りたいともだちに送る最適なメッセージ」を提案します。</h3>
      <div class="flex flex-col md:justify-around items-center md:items-start">
        <a href="https://gyazo.com/b419f7bed8f61b4010ae8a0d3d50b0ad"><img src="https://i.gyazo.com/b419f7bed8f61b4010ae8a0d3d50b0ad.png" alt="Image from Gyazo" class="h-[300px] w-auto md:ml-10"/></a>
        <a href="https://gyazo.com/673d12066e46afba05640e97783f4740"><img src="https://i.gyazo.com/673d12066e46afba05640e97783f4740.png" alt="Image from Gyazo" class="h-[300px] w-auto md:ml-10"/></a>
      </div>

      <h3 class="md:text-xl font-bold mt-32 mb-7">その２．AI提案メッセージをワンクリックでコピーし、メッセージアプリに貼り付けて、送りたい相手にすぐ送信できます。</h3>
      <a href="https://gyazo.com/9c6edbe87ffe1c00d999407d63e4f8b2" class="flex justify-center md:justify-start"><img src="https://i.gyazo.com/9c6edbe87ffe1c00d999407d63e4f8b2.gif" alt="Image from Gyazo" class="h-[300px] w-auto md:ml-10"/></a>
      <h3 class="md:text-xl font-bold mt-32 mb-7">その３．その場でメッセージを修正することができます。</h3>
      <a href="https://gyazo.com/0b2228bfe8b90fe1dc85616722ff7534" class="flex justify-center md:justify-start"><img src="https://i.gyazo.com/0b2228bfe8b90fe1dc85616722ff7534.gif" alt="Image from Gyazo" class="h-[300px] w-auto md:ml-10"/></a>
    </div>

    <div id="card" class="md:border md:rounded-3xl md:border-slate-100 p-10 mt-10 md:bg-opacity-10 md:shadow-2xl h-fit">
      <h2 class="text-xl md:text-2xl font-bold mb-10">メイン機能②　連絡帳</h2>
      <h3 class="md:text-xl font-bold mb-7">その１．ともだちの連絡先を登録できます。</h3>
      <a href="https://gyazo.com/7af621e361370bc9758a7aea1a021731"><img src="https://i.gyazo.com/7af621e361370bc9758a7aea1a021731.png" alt="Image from Gyazo" class="h-[500px] w-auto ml-10 hidden md:block"/></a>
      <a href="https://gyazo.com/a033761b54d290194240b0db4a8b6e9d"><img src="https://i.gyazo.com/a033761b54d290194240b0db4a8b6e9d.png" alt="Image from Gyazo" class="w-[369px] w-auto md:ml-10 md:hidden"/></a>

      <h3 class="md:text-xl font-bold mt-32 mb-7">その２．ともだちの誕生日・大切な日を登録し、その日が近づくと、LINEで通知を受け取れます。</h3>
      <a href="https://gyazo.com/e2ca4344b2ca3a429f7e3cecf33eb1d3"><img src="https://i.gyazo.com/e2ca4344b2ca3a429f7e3cecf33eb1d3.png" alt="Image from Gyazo" class="h-[200px] w-auto md:ml-10 hidden md:block"/></a>
      <a href="https://gyazo.com/d85b118321298189a8303898c21bc460"><img src="https://i.gyazo.com/d85b118321298189a8303898c21bc460.png" alt="Image from Gyazo" class="w-[375px] md:ml-10 md:hidden"/></a>

      <h3 class="md:text-xl font-bold mt-32 mb-7">その３．ともだちとの思い出を、写真・テキストで保存できます。</h3>
      <a href="https://gyazo.com/17ed1ac152d23d9b6fe7ca706f1809cf"><img src="https://i.gyazo.com/17ed1ac152d23d9b6fe7ca706f1809cf.jpg" alt="Image from Gyazo" class="h-[400px] w-auto md:ml-10 hidden md:block"/></a>
      <a href="https://gyazo.com/19be9ca6ddb6265659382726d6a65a89"><img src="https://i.gyazo.com/19be9ca6ddb6265659382726d6a65a89.png" alt="Image from Gyazo" class="w-[354px] md:ml-10 md:hidden"/></a>

      <h3 class="md:text-xl font-bold mt-32 mb-7 hidden md:block">その４．ともだちと最後に連絡を取った日をメモできます。</h3>
      <a href="https://gyazo.com/416a7cda407f9b5d05f7433e11e652d0"><img src="https://i.gyazo.com/416a7cda407f9b5d05f7433e11e652d0.gif" alt="Image from Gyazo" class="h-[500px] w-auto md:ml-10 hidden md:block"/></a>
    </div>
  </div>
</div>
-->