<div id="outer" class="p-4">
  <h1 class="text-4xl font-bold mb-4 ml-5">アプリの使い方</h1>

  <div id="contents", class="flex flex-col">
    <div id="card" class="md:border md:rounded-3xl md:border-slate-100 p-10 md:bg-opacity-10 md:shadow-2xl h-fit">
      <h2 class="text-2xl font-bold mb-10">メイン機能①　AIによるメッセージ提案</h2>
      <h3 class="text-xl font-bold mb-7">その１．3つの質問に答えるだけで、AIが「久しぶりに連絡を取りたいともだちに送る最適なメッセージ」を提案します！</h3>
      <div class="flex justify-around">
        <a href="https://gyazo.com/b419f7bed8f61b4010ae8a0d3d50b0ad"><img src="https://i.gyazo.com/b419f7bed8f61b4010ae8a0d3d50b0ad.png" alt="Image from Gyazo" style="width: auto; height: 300px;"/></a>
        <a href="https://gyazo.com/174f210a41bcfa8f7f58383362a8c759"><img src="https://i.gyazo.com/174f210a41bcfa8f7f58383362a8c759.png" alt="Image from Gyazo" style="width: auto; height: 300px;"/></a>
        <a href="https://gyazo.com/c813a574286ea6708c72ef3f2df2e60b"><img src="https://i.gyazo.com/c813a574286ea6708c72ef3f2df2e60b.png" alt="Image from Gyazo" style="width: auto; height: 300px;"/></a>
        <a href="https://gyazo.com/673d12066e46afba05640e97783f4740"><img src="https://i.gyazo.com/673d12066e46afba05640e97783f4740.png" alt="Image from Gyazo" style="width: auto; height: 300px;"/></a>
      </div>

      <h3 class="text-xl font-bold mt-32 mb-7">その２．AI提案メッセージをワンクリックでコピーし、メッセージアプリに貼り付けて、送りたい相手にすぐ送信できます！</h3>
      <a href="https://gyazo.com/9c6edbe87ffe1c00d999407d63e4f8b2"><img src="https://i.gyazo.com/9c6edbe87ffe1c00d999407d63e4f8b2.gif" alt="Image from Gyazo" style="width: auto; height: 300px;" class= "ml-10"/></a>

      <h3 class="text-xl font-bold mt-32 mb-7">その３．その場でメッセージを修正することもできます</h3>
      <a href="https://gyazo.com/0b2228bfe8b90fe1dc85616722ff7534"><img src="https://i.gyazo.com/0b2228bfe8b90fe1dc85616722ff7534.gif" alt="Image from Gyazo" style="width: auto; height: 300px;" class= "ml-10"/></a>    </div>
    </div>

    <div id="card" class="md:border md:rounded-3xl md:border-slate-100 p-10 mt-10 md:bg-opacity-10 md:shadow-2xl h-fit">
      <h2 class="text-2xl font-bold mb-10">メイン機能②　連絡帳</h2>
      <h3 class="text-xl font-bold mb-7">その１．ともだちの連絡先を登録できます</h3>
      <a href="https://gyazo.com/7af621e361370bc9758a7aea1a021731"><img src="https://i.gyazo.com/7af621e361370bc9758a7aea1a021731.png" alt="Image from Gyazo" style="width: auto; height: 500px;" class= "ml-10"/></a>

      <h3 class="text-xl font-bold mt-32 mb-7">その２．ともだちの誕生日・大切な日を登録し、その日が近づくと、LINEで通知を受け取れます</h3>
      <a href="https://gyazo.com/e2ca4344b2ca3a429f7e3cecf33eb1d3"><img src="https://i.gyazo.com/e2ca4344b2ca3a429f7e3cecf33eb1d3.png" alt="Image from Gyazo" style="width: auto; height: 200px;" class= "ml-10"/></a>

      <h3 class="text-xl font-bold mt-32 mb-7">その３．ともだちとの思い出を、写真・テキストで保存できます</h3>
      <a href="https://gyazo.com/17ed1ac152d23d9b6fe7ca706f1809cf"><img src="https://i.gyazo.com/17ed1ac152d23d9b6fe7ca706f1809cf.jpg" alt="Image from Gyazo" style="width: auto; height: 400px;" class= "ml-10"/></a>

      <h3 class="text-xl font-bold mt-32 mb-7">その４．ともだちと最後に連絡を取った日をメモできます</h3>
      <a href="https://gyazo.com/416a7cda407f9b5d05f7433e11e652d0"><img src="https://i.gyazo.com/416a7cda407f9b5d05f7433e11e652d0.gif" alt="Image from Gyazo" style="width: auto; height: 500px;" class= "ml-10"/></a>
    </div>
  </div>
</div>
