<% content_for(:tab_title, 'Reconnect') %>

<div>
  <div>
    <h1>また、つながろう。<br>
        私の大切なともだちと</h1>
      <p>昔のともだちに、連絡を取ってみませんか？<br>
         ３つの質問に答えるだけで、あなたに最適なメッセージを提案します</p>
  </div>
</div>
<%= link_to introduction_path(1) do %>
  <button class="btn btn-lg">メッセージを作成する</button>
<% end %>