<% content_for(:tab_title, "Stay Friends") %>

<div class="h-screen bg-[url('top_second_bg.jpg')] bg-cover flex">
  <div id="left-side" class="w-1/2 flex flex-col mt-40">
    <div id="left-text" class="text-white text-center">
      <h1 class="text-5xl md:text-6xl text-shadow-gray-md mb-10">また、つながろう。</h1>
      <h1 class="text-5xl md:text-6xl text-shadow-gray-md mb-12">私の大切なともだちと</h1>
      <p class="text-2xl font-medium text-black text-shadow-white mb-2">昔のともだちに、連絡を取ってみませんか？</p>
      <p class="text-2xl font-medium text-black text-shadow-white">３つの質問に答えるだけで、最適なメッセージを提案します</p>
    </div>
    <div id="left-button" class="flex justify-center mt-6">
      <%= link_to introduction_path(1) do %>
        <button class="btn bg-golden text-black border-none hover:bg-yellow-500 shadow-2xl">メッセージを作成する</button>
      <% end %>
    </div>
  </div>
  <div id="right-side" class="w-1/2 flex flex-col justify-end mb-32">
    <div id="right-text" class="text-white text-center">
      <h1 class="text-5xl md:text-6xl text-shadow-gray-lg mb-10">つながりつづけよう。</h1>
      <h1 class="text-5xl md:text-6xl text-shadow-gray-lg mb-12">これからも、ずっと</h1>
      <p class="text-2xl font-medium text-black text-shadow-white-md mb-2">ともだちの大切な日が近づくと</p>
      <p class="text-2xl font-medium text-black text-shadow-white-md">LINE通知を受け取れます</p>
    </div>
    <div id="right-button" class="flex justify-center mt-6">
      <%= link_to profiles_path do %>
        <button class="btn bg-peach-red text-black border-none hover:bg-red-500 shadow-2xl">ともだち帳をひらく</button>
      <% end %>
    </div>
    </div>
  </div>
</div>