<%= search_form_for q, url: url, class: "flex items-center" do |f| %>
  <div>
    <%= f.search_field :name_cont, placeholder: "名前", class: "w-full border px-2 py-1" %>
  </div>
  <div>
    <%= f.search_field :furigana_cont, placeholder: "ふりがな", class: "w-full border px-2 py-1" %>
  </div>
  <div>
    <%= f.search_field :line_name_cont, placeholder: "LINE名", class: "w-full border px-2 py-1" %>
  </div>
  <div>
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
<% end %>
