<table>
  <tr>
    <th>名前</th>
    <th>誕生日</th>
    <th>大切な日</th>
  </tr>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <% profile.events.each do |event| %>
        <td><%= event.date %></td>
      <% end %>
    </tr>
  <% end %>
</table>