<%= render "form", group: @group, group_form_id: 'group_form' %>

<div id="groups">
  <% @groups.each do |group| %>
    <% if group.persisted?%>
      <%= render group %>
    <% end %>
  <% end %>
</div>