<% content_for(:tab_title, "マイページ") %>

<div class="flex flex-col items-center">
  <h1 class="text-3xl font-bold pt-20 pb-10">マイページ</h1>
  <div>
    <div class="mb-4">
      <p class="block font-medium mb-1 text-black">ユーザー名</p>
      <%= @user.name %>
    </div>

    <div class="mb-4">
      <p class="block font-medium mb-1 text-black">LINE通知設定</p>
      <%= @user.notification_enabled == "on" ? "ON" : "OFF" %>
    </div>

  </div>
  <div class="mt-6">
    <%= link_to "編集", edit_user_path(@user), class: "btn bg-golden text-black border-none hover:bg-yellow-500" %>
  </div>
</div>