<footer class="bottom-0 bg-opacity-20 bg-black w-full left-0">
  <div class="flex justify-center space-x-8 text-white">
    <%= link_to "利用規約", '#' %>
    <%= link_to "プライバシーポリシー", '#' %>
    <%= link_to "お問い合わせ", '#' %>
  </div>
</footer>