<div role="tablist" class="tabs tabs-bordered mt-3 px-1 md:hidden">
  <%= link_to "基本情報",
              profile_path(profile),
              role: "tab",
              class:
                "tab text-black rounded
                #{top_tab_active_class(profile_path(profile))}
                #{top_tab_active_class(new_profile_path(profile))}
                #{top_tab_active_class(edit_profile_path(profile))}
              " %>
  <%= link_to "アルバム",
              profile_albums_path(profile),
              role: "tab",
              class:
                "tab text-black rounded
                #{ top_tab_active_class(profile_albums_path(profile)) }
                #{ top_tab_active_class(profile_album_path(profile, album)) if defined?(album) && album.persisted? }
                #{ top_tab_active_class(edit_profile_album_path(profile, album)) if defined?(album) && album.persisted? }
                #{ top_tab_active_class(new_profile_album_path(profile, album)) if defined?(album) }
              " %>
  <%= link_to "通知設定",
              profile_events_path(profile),
              role: "tab",
              class: "tab text-black rounded #{top_tab_active_class(profile_events_path(profile))}" %>
</div>