<% if @profile.user.notification_enabled == "off" %>
  <%= render "notification_off" %>
<% else %>
  <%= render "notification_on" %>
<% end %>


<div class="flex flex-col items-center mt-10 text-xl">
  <p>※通知機能を使うためには、LINEの友達登録が必要です。</p>
  <div>
    友達登録は
    <%= link_to line_qr_code_path, class:"underline underline-offset-1"	do %>
      こちらから
    <% end %>
  </div>
</div>