<h1 class="text-center mb-4">イントロダクション</h1>

<p>卒業、就職、引っ越し、結婚・・・<br>
人生には、たくさんの転機があります。</p><br>

<p>そんな中、むかし仲の良かった友だちとも、<br>
いつの間にか連絡が途絶えてしまっていた。</p><br>

<p>そんな方も多いかと思います。</p><br>

<p>このサービスで、あなたが再び友だちと繋がることを、<br>
お手伝いできたら嬉しいです。</p>