<div class="flex flex-col items-center">
  <div class="text-2xl text-black border rounded-2xl border-black p-10 mt-20">
    <p>久しぶりに連絡を取り合いたい人を<br>
        １人思い浮かべてください・・・</p>
    <div class="text-center mt-5 flex justify-center">
      <%= link_to question_path(1) do %>
        <button class="btn bg-slate-300 text-black border-none shadow-2xl">次へ</button>
      <% end %>
    </div>
  </div>
</div>