<%= month_calendar(events: @events, attribute: :date) do |date, events_on_day| %>
  <%= date.day %>

  <% events_on_day.each do |event| %>
    <div>
      <%= event.profile.name%>уБо<%= event.name %>
    </div>
  <% end %>
<% end %>
