<%= @message %>

<%= form_with url: "#", local: true do |form| %>
  <div>
    <%= form.label :message, "編集する" %><br>
    <%= form.text_area :message, value: @message, rows: 2, cols: 100 %>
  </div>
<% end %>
